/* Lora used for body */
@font-face{
  font-family: 'Lora';
  src: url('fonts/Lora/Lora-Regular.ttf');
}
@font-face{
  font-family: 'Lora';
  src: url('fonts/Lora/Lora-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Lora';
  src: url('fonts/Lora/Lora-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Lora';
  src: url('fonts/Lora/Lora-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

/* Yanone Kaffeesatz used for h1, h2, h3 */
@font-face{
  font-family: 'Yanone Kaffeesatz';
  src: url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}
@font-face{
  font-family: 'Yanone_Kaffeesatz';
  src: url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf');
  font-weight: bold;
}

/* Ubuntu Mono used for code, do we need Italic for code ? */
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf');
  font-style: italic;
}
@font-face{
  font-family: 'Ubuntu Mono';
  src: url('fonts/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

blockquote {
  border-left: 0.3em solid rgba(0,0,0,0.5);
  padding: 0 15px;
  font-style: italic;
}

code {
  border-radius: 5px;
}

#slide-titlepage img {
  max-width:30%;
  height:auto;
}
#slide-motivation img {
  max-width:80%;
  height:auto;
}
#slide-dataframe h1 {
  font-size: 2em;
}
.remark-slide-content {
  font-size: 30px;
}
#slide-motivation-want > ul:nth-child(4) > li:nth-child(1) > p:nth-child(1) {
  margin-bottom: 10px;
}
#slide-motivation-problem img {
  max-width: 80%;
}